<html>
  <head>
    <title>Do sentiment analysis on the text</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <style type="text/css">
      body {
      padding-top: 60px;
      padding-bottom: 60px;
      }
    </style>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
	  <a class="navbar-brand" href="#">Sentiment Analysis Toy</a>
	</div>
      </div>
    </div>

    <div class="container">
      <div class="row">
	<div class="col-md-6">
	  <textarea class="form-control" rows="3"
		    placeholder="Twitter Search Keywords or simple text" id="text"
		    name="text"></textarea>
	  <input type="submit" value="Run Sentiment Analysis" id="submit" class="btn btn-success"/>
	</div>
      </div>
      <div id="loading" style="display: none;" class="container">
	<img src="images/loader.gif" alt="Please wait.." />
      </div>
      <div id="result" class="row"></div>
    </div>

    <!-- ------------ TEMPLATES ------------ -->

    <script type="text/template" id="searchResult">
      <div class="col-md-6" id="{{search_term}}">
	<h2>{{search_term}} <small>Sentiment Analysis</small></h2>
	<ul class="unstyled">
	  {{#tweets}}
	  <div>
	    {{text}}
	  </div>
	  {{/tweets}}
	</ul>
      </div>
    </script>


    <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript">
    $("#submit").on("click", function(event) {
      $("#result").empty();
      event.preventDefault();
      $('#loading').show();
      var text = $("textarea#text").val();
      if (text) {
        var searchKeywords = text;
        $.get('/twitter/search.json?search_term='+ searchKeywords,  function(result) {
          var data = {
            search_term : result.search_term,
            tweets : result.tweets
	  };
          var template = $('#searchResult').html();
          var html = Mustache.to_html(template, data);
          $('#result').append(html);
	});
      } else {
        alert("Please enter text in textarea")
      }
      $('#loading').hide();
    });
    </script>
  </body>
</html>
